body { background: #3e74f1; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 28px; display: flex; }
.block-filter-0 { color: #46b29; font-size: 17px; margin-bottom: 5px; }
.block-cluster-1 { color: #ab174e; font-size: 14px; margin-bottom: 5px; }
.block-shipping-2 { color: #2d6552; font-size: 12px; margin-bottom: 5px; }
.block-email-3 { color: #43c8c4; font-size: 17px; margin-bottom: 5px; }
.block-cluster-4 { color: #f778; font-size: 19px; margin-bottom: 5px; }
.block-product-5 { color: #5b811f; font-size: 15px; margin-bottom: 5px; }